body {
  background-color: rgb(250, 250, 240);
  margin: none;
  padding: 5px;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.episode {
  background-color: white;
  padding: 3px 15px;
  margin: 25px 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 500px;
  overflow: hidden;
}

.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 22% 22% 22% 22%;
}

.grid-item {
  text-align: center;
}

.zoom {
  transition: transform 0.15s; /* Animation */
  cursor: pointer;
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

select,
input,
#display-count {
  display: inline;
}

input,
select {
  margin-right: 15px;
  height: 25px;
  width: 200px;
  outline: none;
  border: none;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select {
  height: 25px;
  width: 300px;
  margin-right: 15px;
  background-color: white;
}

.filter-container {
  padding: 15px;
}
